@tailwind base;
@tailwind components;
@tailwind utilities;

#overlay{
  position: fixed;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition: all 0.5s ease-out;
}
#overlay.overlay-on{
  visibility: visible;
  opacity: 1;
}

.flex{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#overlay-inner{
  padding:10px 60px;
  background-color:#FFF;
  text-align:center;
}

#open-btn, #close-btn{
  display:block;
  margin:20px auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
}
