.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
}

.box {
  display: flex;
  padding: 16px 0;
  gap: 16px;
  justify-content: space-between;
}

.title {
  font-size: 1.8em;
  margin: 12px 0;
}

.isearch-container {
  margin: 8px 4px;
}

.isearch-label {
  margin: 0 8px;
}

.scroll {
  flex-grow: 1;
  overflow: auto;
  padding: 8px;
  border-radius: 8px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  animation: fadein .2s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}