name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Build site
        run: deno task lume

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: raa0121
          entrypoint: server/main.ts
