name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Build site
        run: deno task lume

      - name: cat styles.css
        run: cat _site/styles.css

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: raa0121
          entrypoint: server/main.ts
          import-map: "./import_map.json"
